@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(/assets/bg.gif);
    background-size: cover;
    background-position: center;
    font-family: "Play", sans-serif;
    font-weight: 400;
    color: white;
}
:root {
    --transparent-black: rgba(0, 0, 0, 0.65);
    --transparent-gray: rgba(30, 30, 30, 0.65);
    --dullgray: rgb(40, 40, 40);
    --darkergray: rgb(0, 0, 0);
    --accent1: pink;
    --accent2:  purple;
    --accent3: rgb(0, 196, 196);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav.row {
    width: 100%;
    height: 30px;
    background-color: var(--transparent-black);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    padding: 0 10px;
}
nav > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6px;
}
nav .icons-left {
    justify-content: left;
    width: 75px;
}
nav .icons-right {
    justify-content: right;
    width: 75px;
}
nav img {
    height: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 4px;
    overflow: visible;
}
.icons-left img:nth-child(1) {
    background-color: rgb(0, 196, 196);
}
.icons-left img:nth-child(1):hover {
    background-color: rgb(0, 150, 150);
}
.icons-right img:nth-child(1) {
    background-color: pink;
}
.icons-right img:nth-child(1):hover {
    background-color: rgb(212, 147, 158);
}
.icons-right img:nth-child(2) {
    background-color: palevioletred;
}
.icons-right img:nth-child(2):hover {
    background-color: rgb(185, 97, 126);
}
.icons-right img:nth-child(3) {
    background-color: purple;
}
.icons-right img:nth-child(3):hover {
    background-color: rgb(104, 0, 104);
}

.fixed-elements {
    user-select: none;
    pointer-events: none;
}
.fixed-elements > * {
    position: fixed;
}
.loading {
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 2s ease-out;
    z-index: 100;
}
.loading.active {
    opacity: 1;
}
.popup {
    width: 100vw;
    height: fit-content;
    bottom: -100px;
    transition: bottom 0.3s ease;
}
.popup.active {
    bottom: 10px;
    transition: bottom 0.3s ease;
    padding: 0 10px;
}
.popup p {
    backdrop-filter: blur(5px);
    background-color: var(--transparent-black);
    border-radius: 10px;
    padding: 1rem 2rem;
    text-align: center;
}

main {
    height: calc(100vh - 30px);
    top: 30px;
    padding: 10px;
}
.clock {
    backdrop-filter: blur(5px);
    background: var(--transparent-black);
    padding: 3rem;
    border-radius: 20px;
    font-size: 2rem;
    text-align: center;
    transition: opacity 0.3s ease;
    transform: translate(0, -1rem);
}
.clock #hour, .clock #minute {
    font-size: 5rem;
}
.clock #day {
    font-size: 1.4rem;
}
.clock #month, .clock #weekday {
    font-size: 1.5rem;
}
.desktop-icon {
    position: fixed;
    right: 10px;
    bottom: 10px;
    backdrop-filter: blur(5px);
    background-color: var(--transparent-black);
    gap: 5px;
    padding: 5px 8px;
    border-radius: 4px;
    z-index: 99;
}
.desktop-icon:hover {
    background-color: var(--transparent-gray);
}
.desktop-icon:active {
    background-color: var(--dullgray);
}
.desktop-icon p {
    font-size: .85rem;
}

.dashboard {
    height: calc(100% - 30px - 20px);
    width: calc(100% - 20px);
    position: fixed;
    top: 40px;
    left: 10px;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.dashboard.active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s ease-out;
}
#main-stage, #list-stage, #folder-stage {
    background-color: var(--transparent-black);
    backdrop-filter: blur(5px);
    border-radius: 4px;
    padding: 2rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--accent1) transparent;
}
#main-stage {
    height: 100%;
    width: 70%;
    justify-content: start;
    overflow-y: scroll;
    overflow-x: hidden;
}
#main-stage:has(iframe) {
    justify-content: center;
    overflow-x: hidden;
}
#main-stage:has(iframe) a {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}
#main-stage h4 {
    padding-bottom: 2rem;
}
iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    scale: 0.9;
}
#main-stage a {
    color: var(--accent1);
}
#main-stage a:hover {
    color: var(--accent3);
}
.placeholder {
    display: none;
}
.placeholder.active {
    display: flex;
}
aside {
    height: 100%;
    width: 30%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#list-stage, #folder-stage {
    height: 50%;
    width: 100%;
}
#list-stage {
    gap: 4px;
    justify-content: start;
}
#list-stage > p {
    background-color: var(--darkergray);
    padding: 5px 1rem;
    border-radius: 5px;
    width: 100%;
}
#list-stage > p:hover {
    background-color: var(--transparent-gray);
}
#list-stage > p:active {
    background-color: var(--dullgray);
}
#list-stage:has(img) {
    justify-content: center;
    padding: 4rem;
    overflow: hidden;
}
#list-stage img {
    width: 100%;
}
#folder-stage {
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 4px;
    flex-wrap: wrap;
}
#folder-stage > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    border-radius: 4px;
    background-color: var(--darkergray);
    aspect-ratio: 1/1;
    width: 80px;
    height: 70px;
}
#folder-stage > * img {
    width: 30px;
}
#folder-stage > * p {
    font-size: .8rem;
}
#folder-stage > *:hover {
    background-color: var(--transparent-gray);
}

@media screen and (orientation: portrait) {
    .dashboard {
        flex-direction: column;
    }
    #main-stage {
        height: 70%;
        width: 100%;
    }
    aside {
        flex-direction: row;
        height: 30%;
        width: 100%;
    }
    #list-stage, #folder-stage {
        height: 100%;
        width: 50%;
    }
    #main-stage:has(iframe) a {
        margin-bottom: 1.2rem;
    }
    #list-stage img {
        height: 80%;
        width: auto;
    }
}
@media screen and (max-width: 500px) {
    #main-stage, #list-stage, #folder-stage {
        padding: 1rem;
    }
}
@media screen and (max-width: 450px) {
    #main-stage:has(iframe) a {
        margin-bottom: 1rem;
    }
    iframe {
        scale: 0.7;
        width: calc(100% + 40%);
    }
}